/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}


.segmentation_canvas, .output_canvas {
  transition-property: transform;
  transition-duration: 1s;
  transition-delay: 1s;
}

.btn_links_container {
  position: absolute;
  top: 5px;
  left: 40vw;
  display: flex;
  flex-direction: row;
}

.btn_links {
  opacity: 0.6;
  margin: 5px;
  height: 20px;
  padding: 5px;
  background-color: #ddd;
  border: 1px solid #000;
  border-radius: 5px;

  /* position: absolute;
  top: 0;
  left: 50%; */
}

.btn_links_title {
  background-color: #fefefe;
  border: 1px solid #000;
  padding: 5px;
  position: absolute;
  display: none;
}